---
---
<script>
// Get Video
const video = document.querySelector("video");
const webcamAccessBox = document.getElementById("webcamAccessBox");

// Navigator object
if (navigator.mediaDevices.getUserMedia) {
  
  navigator.mediaDevices
	.getUserMedia({
	  video: true
	})
	.then((stream) => (video.srcObject = stream))
	.catch((error) => console.log(error));
}
</script>

<div id="webcamAccessBox" class="absolute inset-0 z-[-1] flex items-center justify-center">
  <div class="bg-gray-800 text-white text-xl font-semibold px-6 py-4 rounded shadow-lg">
    Please Enable Webcam Access
  </div>
</div>

<style>

/* Smart Mirror */
video { 
  
  /* Position video      */
    position: absolute;
    top: 0;
    left: 0;
    /* Stretch to fill viewport */
    width: 100vw;
    height: 100vh;
    /* stack behind content     */
    z-index: -1;
    /* fill background with video    */
  object-fit: cover;
  object-position: center;
  
}
</style>

    <!-- Webcam Video -->
    <video autoplay></video>